html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: #171717;
  color: wheat;
}

a {
  color: aliceblue;
}

a:visited {
  color: grey;
}

a:hover,
a:active {
  color: green;
}

th,
td,
caption {
  border: 1px;
  font-family: "Courier New", Courier, monospace;
  border-collapse: separate;
  padding: 0.5;
}

div {
  display: grid;
  place-items: center;
}

table,
tr,
th,
td,
caption {
  border: 1px solid #eee;
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}
